<app-film-search></app-film-search>
<section class="main-block light-bg">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-5">
        <div class="styled-heading">
          <h3>Featured Films</h3>
        </div>
      </div>
    </div>
    <div class="row">
      <div *ngFor="let film of (films | async)" class="col-md-4 featured-responsive" [routerLink]="['film', film.id.toString()]">
        <app-film-item [film]="film"></app-film-item>
      </div>
    </div>
  </div>
</section>
