<section class="slider d-flex align-items-center">
  <!-- <img src="images/slider.jpg" class="img-fluid" alt="#"> -->
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="col-md-12">
        <div class="slider-title_box">
          <div class="row">
            <div class="col-md-12">
              <div class="slider-content_wrap">
                <h1>Discover great movies with Betsson Group</h1>
                <h5>Let's uncover the best movies to watch.</h5>
              </div>
            </div>
          </div>
          <div class="row d-flex justify-content-center">
            <div class="col-md-10">
              <form class="form-wrap mt-4">
                <div class="btn-group" role="group" aria-label="Basic example">
                  <input type="text" [formControl]="searchControl" placeholder="What are you looking for?" class="btn-group1">
                </div>
              </form>
              <div class="slider-link">
                <a href="#">Browse Popular</a>
                <span>or</span>
                <a href="#">Recently Addred</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
