<div class="featured-place-wrap">
  <a href="detail.html">
    <span style="width: 100%; text-align: center; display: inline-block;">
      <img [attr.src]="imgCdn + film.img" class="img-fluid" alt="#">
    </span>
    <span class="featured-rating-orange">
      {{film.rate}}
    </span>
    <div class="featured-title-box">
      <h6>
        {{film.name}}
      </h6>
      <p>
        {{film.key}}
      </p>
      <span>• </span>
      <p>
        {{film.length}}
      </p>
      <ul>
        <li>
          <span class="icon-note"></span>
          <p>{{film.description}}</p>
        </li>
      </ul>
      <!--       <div class="bottom-icons">
        <div class="closed-now">CLOSED NOW</div>
        <span class="ti-heart"></span>
        <span class="ti-bookmark"></span>
      </div> -->
    </div>
  </a>
</div>
